section{
    width: 100%;
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    background-color: 
    #FFFFFF;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Profile_btn_sec{
    display: flex;
  align-items: center;
}

.Profile_btn_sec .singup_btn{
    width: 15.5rem;
height: 5.5rem;
background: #274082;
border: 1px solid #274082;

font-family: Poppins;
font-size: 1.6rem;
font-weight: 600;
line-height: 2.4rem;
letter-spacing: 0.1em;
text-align: center;
color: #FFFFFF;
cursor: pointer;
margin-right: 2rem;


}
.Profile_btn_sec .singup_btn:hover{
background: white;

color:#274082;


}
.Profile_btn_sec p{
    margin-left: 1rem;
    font-family: "Fjalla One";
font-size: 1.6rem;
font-weight: 400;
line-height: 2.0rem;
letter-spacing: 0em;
cursor: pointer;
margin-top: 10px;
}

.Profile_btn_sec img{
    cursor: pointer;
}



.arrowLast{
    display: flex;
align-items: center;
}


  
  @media only screen and (max-width: 768px) {
 .logo_sec img{
    width: 90px;
    height: 90px;
 }
  }