
  
  .pdf-container{
    width: 100%;
    height: 800px;
    background-color: #e4e4e4;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-msg{
    width: 100%;
    color: red;
    font-size: 14px;
    font-weight: 600;
  }
  
  .custom-toolbar-item button.react-pdf__zoom-in-button,
  .custom-toolbar-item button.react-pdf__zoom-out-button {
    cursor: pointer;
  }


  .form_pdf{
    display: flex;
    justify-content: center;
 gap: 20px;
  }

  .file_inpt{
    background-color: rgb(228, 228, 228);
  }
  #scale-input{
    width: 120px;
    height: 30px;
  }

  .input_fldsBox{
    margin-top: 50px;
    display: flex;

    justify-content: center;
    gap: 20px;
  }
  .input_fldsBox input{
    width: 300px;
    height: 40px;
    text-indent: 20px;
  }

  .count_input
  {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  }


  .rset_btn{
    width: 200px;
    height: 30px;
    cursor: pointer;
  }
  
  .navbar_sec{
    background-color: rgb(202, 240, 240);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar_sec button{
    background-color: #e4e4e4;
    height: 30px;
    width: 150px;
    border: 1px solid gray;
  margin-right: 30px;
  border-radius: 20px;
  cursor: pointer;
  }
/* new figma  */
  .container_imgmp{
 /* border: 2px solid red; */
padding: 2% 10% 2% 10% ;
width: 100%;
/* height: 100vh; */
background-color: #FFFFFF;
  }

  .container_imgmp .img_conatainerMp img{
      height:100vh;
      width: 100%;
      /* border-bottom: 2px solid red; */
      
  }
  .img_conatainerFoot{
    border-top: 2px solid rgb(233, 226, 226);
    /* height: 20vh; */
    width: 100%;

  }

  .img_conatainerFoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn_container{
    padding-top: 5px;
    display: flex;
align-items: center;
    gap: 20px;
  }
  .plus_icn{
    background-color: #FFFFFF;
    padding: 10px;
    border-right: 2px solid #e6e5e5;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    cursor: pointer;

  }
  .minus_icn{
    background-color: #FFFFFF;
    padding: 10px;
    border-right: 2px solid #e6e5e5;
    border-left: 2px solid #e6e5e5;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    cursor: pointer;

  }
  .reset_btn{
    background-color: #FFFFFF;
    padding: 10px;
    border-right: 1px solid #FFFFFF;
    border-left: 2px solid #e6e5e5;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    cursor: pointer;
    color: red;
    font-size: 16px;
  }
  .zoom_perc{
    font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: black;

  }

  .processMapCont{
    padding-top:50px;
    padding-bottom:50px;

    display: flex;
    justify-content: center;
  }
  
  
  .processMap{
    width: 445px;
    height: 55px;
background-color: #274082;    
color: white;
cursor: pointer;
border: 1px solid #274082;
  }
