
  
  .pdf-container{
    width: 100%;
    height: 80.0rem;
    background-color: #e4e4e4;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-msg{
    width: 100%;
    color: red;
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  .custom-toolbar-item button.react-pdf__zoom-in-button,
  .custom-toolbar-item button.react-pdf__zoom-out-button {
    cursor: pointer;
  }


  .form_pdf{
    display: flex;
    justify-content: center;
 gap: 2.0rem;
  }

  .file_inpt{
    background-color: rgb(228, 228, 228);
  }
  #scale-input{
    width: 12.0rem;
    height: 3.0rem;
  }

  .input_fldsBox{
    margin-top: 5.0rem;
    display: flex;

    justify-content: center;
    /* gap: 2.0rem; */

  }
  .input_fldsBox input{
    width: 25.0rem;
    height: 6.0rem;
    text-indent: 2.0rem;
    font-size: 1.8rem;
  }

  .count_input
  {

  width: 8.0rem;
height: 5.0rem;
border: 1px solid #CCCCCC;
outline: none;
text-align: center;
font-size: 1.5rem;
text-indent: 10px;
  }


  .rset_btn{
    width: 20.0rem;
    height: 3.0rem;
    cursor: pointer;
  }
  
  .navbar_sec{
    background-color: rgb(202, 240, 240);
    height: 8.0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar_sec button{
    background-color: #e4e4e4;
    height: 3.0rem;
    width: 15.0rem;
    border: 1px solid gray;
  margin-right: 3.0rem;
  border-radius: 2.0rem;
  cursor: pointer;
  }
/* new figma  */
  .container_imgmp{
 /* border: 2px solid red; */
/* padding: 2% 10% 2% 10% ; */
width: 100%;
/* height: 100vh; */
background-color: #FFFFFF;
  }

  .img_conatainerMp{
    width: 100%;
    display: flex;
    justify-content: center ;
  }
  .container_imgmp .img_conatainerMp img{
      /* height:100vh; */
      width: 100%;
      /* border-bottom: 2px solid red; */
      
  }
  .img_conatainerFoot{
    border-top: 2px solid rgb(233, 226, 226);

  }

  .img_conatainerFoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn_container{
    padding-left: 5rem;
    padding-top: 5px;
    display: flex;
align-items: center;
    gap: 2.0rem;
  }
  .plus_icn{
    background-color: #FFFFFF;
    padding: 1.0rem;
    border-right: 2px solid #e6e5e5;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    cursor: pointer;

  }
  .minus_icn{
    background-color: #FFFFFF;
    padding: 1.0rem;
    border-right: 2px solid #e6e5e5;
    border-left: 2px solid #e6e5e5;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    cursor: pointer;

  }
  .reset_btn{
    margin-right: 5rem;
    background-color: #FFFFFF;
    padding: 1.0rem;
    border-right: 1px solid #FFFFFF;
    border-left: 2px solid #e6e5e5;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    cursor: pointer;
    color: red;
    font-size: 1.6rem;
  }
  .zoom_perc{
    font-family: 'Poppins';
font-size: 1.6rem;
font-weight: 600;
line-height: 2.4rem;
letter-spacing: 0em;
text-align: center;
color: black;
padding-top: 10px;
/* align-items: center; */

  }

  .processMapCont{
    padding-top:5.0rem;
    padding-bottom:5.0rem;

    display: flex;
    justify-content: center;
  }
  
  
  .processMap{
    width: 44.5rem;
    height: 5.5rem;
background-color: #274082;    
color: white;
cursor: pointer;
border: 1px solid #274082;
font-size: 1.5rem;
  }

  .processMap:hover{
background-color:#FFFFFF;    
color: #274082;
  }


  .form_fields{
    display: flex;
    gap: 2rem;
  }


  ::placeholder{
    font-size: 1.3rem;
  }
  .pointName{
    width: 3.2rem;
height: 3.0rem;
font-family: 'Poppins';
font-size: 2.4rem;
font-weight: 400;
line-height: 3.0rem;
letter-spacing: 0em;
text-align: left;
color: #FF6813;

  }

  .pointName2{
    font-family: "Poppins";
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3.0rem;
    letter-spacing: 0em;
    text-align: left;
  

  }

  .table_boot{
  width: 80%;
  margin-bottom: 100px;
  }

  thead{
    font-size: 2rem;
  }
  tbody{
    font-size: 1.5rem;

  }



  .table_boot th{
    padding:10;
  }

  @media only screen and (max-width:1300px) {
   
    
    /* .input_fldsBox input{ */
      /* width: 30rem; */
    /* } */
     }

  @media only screen and (max-width: 778px) {
    .logo_sec img{
       width: 90px;
       height: 90px;
    }
     .input_fldsBox{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      align-items: center;
    }

    .form_fields{
      flex-direction: column;
    }
    .input_fldsBox input{
      width: 50rem;
    }
     }