*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  background-color: 
  #F5F5F5;
}

html{
    font-size: 62.5%;
}

.App{
  /* margin: 3% 10% 3% 10%; */
  width: 100%;
  min-height: 85vh;
  
}


@media only screen and (max-width: 1200px) {
  html{
    font-size: 47.5%;
}
}

@media only screen and (max-width: 768px) {
  html{
    font-size: 42.5%;
}
}